* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: 2;
  background: #f4f6f9;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Montserrat;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
}

#main {
  position: relative;
  background: #e7eaec;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-bottom: 40px;
}

.my-photo {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.About-me-conteiner {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.Contacts-conteiner {
  margin-top: 20px;
  margin-left: 20px;
}

.Contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 25px;
  margin-left: 20px;
}

.Contacts-link {
  position: relative;
  z-index: 2;
  font-size: 15px;
  font-weight: 480;
  line-height: 17px;
  color: #595e67;
  padding-bottom: 15px;
  padding-left: 20px;
}

.Contacts-letters {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  padding-left: 20px;

}
.Contacts-letters .phone {
  padding-bottom: 10px;
  
}
.Contacts-letters ul li.phone a:hover {
  color: #ffffff;
}
.Contacts-letters ul li.email a:hover {
  color: #ffffff;
}
.Contacts-social {
  position: relative;
  z-index: 2;
  margin-top: 30px;
  margin-left: 20px;
}
.Contacts-social li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
}

.Contacts-social li:last-child {
  margin: 0;
}

.Contacts-social li a {
  width: 22px;
  height: 22px;
  border-radius: 0px;
  background: #1e2939;
  border: 1px solid#ffffff;
  line-height: 22px;
  text-align: center;
  justify-content: center;
  display: block;
  color: #ececec;
}

.Contacts-social ul li.linkedin a:hover {
  box-shadow: 0px 0px 5px #98b4f1 inset;
  color: #326ae4;
}
.Contacts-social ul li.github a:hover {
  box-shadow: 0px 0px 5px#ffffff inset;
  color: #f8f5f5;
}
.Contacts-social ul li.whatsapp a:hover {
  background: #10d34b;
}
.Contacts-social ul li.telegram a:hover {
  background: #0088cc;
}

.Contacts-social ul li.instagram a:hover {
  background: #6f1e8f;
}

.Tech-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.Tech-Skills-conteiner {
  margin-left: 20px;
  margin-right: 40px;
  margin-top: 65px;
}

.Tech-Skills-item {
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 0;
}

.Tech-Skills-text {
  color: #d2d3d5;
}

.Soft-Skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 20px;

}

.Soft-Skills-conteiner {
  /* margin-left: 20px; */
  margin-right: 40px;
  margin-top: 55px;
}

.Soft-Skills-item {
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 20px;
}

.Soft-Skills-text {
  color: #d2d3d5;
}

.Profession {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 18px;
}

.Name {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  color: #ff6b08;
}

.Description {
  font-size: 16px;
  font-weight: 480;
  margin-top: 18px;
  text-align: justify;
  line-height: 24px;
}

.Info-conteiner {
  margin-bottom: 40px;
}
.Info-conteiner i {
  padding-bottom: 0px;
}

.About-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.Projects-link {
  position: relative;
  z-index: 2;
  color: #595959;
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
}
#projects ol li.Projects-item a:hover {
  color: #168ad8;
  font-weight: 550;
}

.tech-name {
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
}
.tech-name b {
  color: #ff6b08;
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
}

.dots {
  color: #d2d3d5;
  font-weight: 100;
}

.Projects-item {
  font-weight: 700;
  margin-left: 0px;
}

.Projects-conteiner {
  margin-bottom: 44px;
}

.Profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.Profession-company {
  color: #ff6b08;
}

.Profession-time {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
}

.Profession-divider {
  color: #ff6b08;
  font-weight: 800;
}

.Profession-duties {
  margin-top: 14px;
  margin-bottom: 25;
}

.Profession-duties-items {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.Education-conteiner {
  margin-top: 44px;
}
.java-script {
  padding-left: 2px;
  padding-right: 4px;
  vertical-align: middle;
}
.react {
  padding-left: 6px;
  padding-right: 4px;
  vertical-align: middle;
}

.node {
  padding-left: 6px;
  padding-right: 4px;
  vertical-align: middle;
}

.Education-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.Education-time {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 480;
  line-height: 24px;
}

.Education-specialization {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

@media screen and (max-width: 1228px) {
  #main {
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #about {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (max-width: 1098px) {
    #main {
      max-width: 100%;
      height: 100%;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .sidebar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 270px;
    }
    .my-photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 270px;
    }
    .Contacts-social {
      margin-top: 20px;
      margin-left: 25px;
    }
    .Tech-Skills-conteiner {
      margin-left: 25px;
      margin-right: 20px;
      margin-top: 45px;
    }

    #about {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .Info-conteiner h1 {
      font-size: 32px;
    }
    .Info-conteiner h2 {
      font-size: 26px;
    }
    .Description p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 738px) {
    #main {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      clear: both;
      margin: 0 auto;
      max-width: 100%;
      height: 100%;
      padding: 0;
    }
    #contacts .Contacts-title h1 {
      margin-left: 30px;
    }
    .sidebar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
    .my-photo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 500px;
    }
    .Contacts-social {
      margin-top: 20px;
      margin-left: 65px;
    }
    #about {
      float: left;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
      height: auto;
      margin-top: 2px;
      padding-top: 40px;
      position: relative;
      box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    }
    .Description p {
      text-align: left;
    }
    .Info-conteiner {
      text-align: center;
    }
    .Info-conteiner-text {
      text-align: left;
    }
    #projects {
      text-align: left;
    }
  }
}

@media screen and (max-width: 420px) {
  #main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    padding: 0;
  }
  .sidebar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .my-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  #about {
    float: left;
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    margin-top: 2px;
    padding-top: 40px;
    position: relative;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
  .Description p {
    text-align: left;
  }
  .Info-conteiner {
    text-align: center;
  }
  .Info-conteiner-text {
    text-align: left;
  }
  #projects {
    text-align: left;
  }
}
.redux{
  width: 10px;
  height: 10px;
}
